doctype
html(lang="ru-RU")
    include ../common/head.jade
body
    .wrapper
        .main-content
            <!-- / ========= header ========= \ -->
            .content
                .container
                    block content
    <!-- / ========= footer ========= \ -->