.page-content{
  width: 730px;
  float: left;
}

.about__left{
  float: left;
  width: 290px;
}
.about__avatar-wrap{
  width: 175px;
  height: 175px;
  margin-left: 25px;
}

.about__right {
  width: 420px;
}

.about__right__text-wrap{
  height: 365px;
}