.page-content{
  width: 300px;
}

.about__left{
  float: none;
  width: auto;
  margin-bottom: 10px;
}
.about__avatar-wrap{
  width: 175px;
  height: 175px;
  margin: 0px auto;
}

.about__right {
  float: none;
  width: auto;
}
.about__right__title{
  font-size: 35px;
  text-align: center;
}
.about__right__text-wrap{
  height: auto;
  p{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    @include fira(light);
    font-size: 16px;
    line-height: 24px;

  }
}
.btn {
  float: none;
  display: block;
  width: 130px;
  margin: 0 auto;
}