extends ../layouts/main-layout.jade

block title
    title Карьерный путь

block content
    .career
        h1.career__title Карьерный путь
        .career-left
            .career-left__wrap-img
                img.career-left__img(src='images/desktop/career/univer-picture.jpg')
        .career-right
            ul.career__list
                li.career__item
                    .career-block
                        h3.career-block__title ООО 'Звезды путешествий'
                        p.career-block__post Системный Администратор
                        p.career-block__time 2015 - по настоящее время
                        div.career-block__year 2015
                li.career__item
                    .career-block
                        h3.career-block__title Санкт-Петербургский государственный университет
                        p.career-block__post Студент
                        p.career-block__time 2010 - 2015
                        div.career-block__year 2015
                li.career__item
                    .career-block
                        h3.career-block__title Технологический институт им. Горького
                        p.career-block__post Студент
                        p.career-block__time 2012 - 2014
                        div.career-block__year 2015
                li.career__item
                    .career-block
                        h3.career-block__title ООО 'Звезды путешествий'
                        p.career-block__post Помощник руководителя группы разработки
                        p.career-block__time 2015 - по настоящее время
                        div.career-block__year 2015