extends ../layouts/hello-layout
block title
    title Hello

block content
    .block-hello
        .hello
            .hello__wrap-img
                img.hello__img(src='images/desktop/avatar.jpg')
            h2.hello__name Руслан Багаутдинов
            .hello__footer
                a.hello__btn(href='about.html') Перейти на сайт