// footer
footer.footer
	div.container
		div.socials
			ul.socials__list
				li.socials__item
					a.socials__link.socials__link--facebook(href='https://vk.com') Facebook
				li.socials__item
					a.socials__link.socials__link--vk(href='https://vk.com') Вконтакте
				li.socials__item
					a.socials__link.socials__link--twitter(href='https://vk.com') Twitter


<!-- build:js js/vendor.js -->
// JS VENDOR
// bower:js
// endbower
<!--  endbuild -->


<!-- build:js js/main.min.js -->
// JS MAIN
script(src='js/main.js')
<!-- endbuild -->