nav.navigation
    ul.navigation__list
        li.navigation__item
            i.fa.fa-user(aria-hidden="true")
            a.navigation__link.navigation__link--about(href='about.html') Обо мне
        li.navigation__item
            i.fa.fa-star(aria-hidden="true")
            a.navigation__link.navigation__link--career(href='career.html') Карьерный путь
        li.navigation__item
            i.fa.fa-briefcase(aria-hidden="true")
            a.navigation__link.navigation__link--portfolio(href='portfolio.html') Портфолио
